.MainWindow {
    height: 200px;
}

.MainWindow .header {
    background-color: white;
    height: 70%;
    -webkit-app-region: drag;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.MainWindow .header .title, .MainWindow .header .title2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    color: #353b48;
    font-family: 'OpenSans-LightItalic';
    white-space: nowrap;
    z-index: 1;
}

.MainWindow .header .title--white, .MainWindow .header .title2--white {
  color: white;
  text-shadow: 0.5px 0.5px 5px #353b48;
}

.MainWindow .header #play-icon {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    color: #353b48;
    z-index: 0;
}

.MainWindow .header #thumbnail-img {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-position: center;
    background-size: cover;
}

.MainWindow .player-container {
    background-color: #353b48;
    height: 30%;
    position: relative;
}