@font-face{
    font-family: 'OpenSans-Light';
    src: url('./../fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face{
    font-family: 'OpenSans-LightItalic';
    src: url('./../fonts/OpenSans/OpenSans-LightItalic.ttf');
}

@font-face{
    font-family: 'OpenSans-SemiBold';
    src: url('./../fonts/OpenSans/OpenSans-SemiBold.ttf');
}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'OpenSans-Light'
}

i {
   font-family: 'FontAwesome';
   font-style: normal; 
   color: white;
}