.ListWindow {
    position: relative;
    height: 600px;
    overflow: hidden;
    user-select: none;
}

.ListWindow .head {
    width: 100%;
    height: 7%;
    text-align: center;
    background-color: #EEEEEE;
    position: relative;
    box-shadow: 0px 0.1px 2px #2f3640;
    z-index: 2;
}

.ListWindow .head span {
    color: black;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -10px;
    margin-left: -20px;
}

.ListWindow .head .search-bar {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
}

.search-bar__close-input {
    position: absolute;
    margin-top: -12px;
    left: -25px;
    top: 50%;
    display: inline-block;
}

.search-bar__open-input {
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: 2px;
    display: inline-block;
}

.search-bar__close-input i, .search-bar__open-input i {
    color: #718093;
}

.search-bar__close-input i:hover, .search-bar__open-input i:hover {
    color: #353b48;
}

.search-bar__input {
    border: none;
    background-color: transparent;
    padding: 5px;
    width: 150px;
    border-bottom: 1px solid silver;
    outline: none;
    animation: animateInput 0.3s;
}

@keyframes animateInput {
  0% {width: 0px;}
  100% {width: 150px;}
}

.ListWindow .content {
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    height: 79%;
    position: relative;
    background-color: white;
}

#list-ui-null {
    font-size: 40px;
    position: absolute;
    color: #718093;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.ListWindow .footer {
    background-color: #353b48;
    width: 100%;
    height: 10%;
    box-shadow: 0px 0px 2px black;
    z-index: 2;
}

.button-folder-open {
    position: absolute;
    bottom: 15px;
    left: 17px;
}

.button-list-clear {
    position: absolute;
    bottom: 15px;
    left: 50px;
}


.button-add-file {
    position: absolute;
    bottom: 15px;
    left: 80px;
}

.list-description {
    position: absolute;
    color: white;
    font-size: 14px;
    bottom: 20px;
    right: 17px;
}

.spin {
    position: relative;
    right: 5px;
    animation: spin 2s infinite; 
}

@keyframes spin {
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(360deg)}
}

.wrapper-add-modal {
    height: 130px !important;
}

.add-modal__title {
    width: 180;
    padding: 5px;
    padding-top: 2px;
    padding-left: 10px;
}

.add-modal__button {
    height: 100%;
}

.add-modal__button__folder, .add-modal__button__file {
    padding: 15px;
    font-size: 14px;
    padding-left: 10px;
}

.add-modal__button__folder:hover, .add-modal__button__file:hover {
    cursor: pointer;
    background-color: #c0392b;
}

