.ListWindow {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.ListWindow .header {
    background-color: #353b48;
    width: 100%;
    height: 4%;
    -webkit-app-region: drag;
}

.ListWindow .head {
    width: 100%;
    height: 7%;
    text-align: center;
    background-color: #EEEEEE;
    position: relative;
    box-shadow: 0px 0.1px 2px #2f3640;
    z-index: 2;
}

.ListWindow .head span {
    color: black;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -10px;
    margin-left: -20px;
}

.ListWindow .head .search-bar {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
}

.search-bar__close-input {
    position: absolute;
    margin-top: -12px;
    left: -25px;
    top: 50%;
    display: inline-block;
}

.search-bar__close-input i {
    color: #718093;
}

.search-bar__close-input i:hover {
    color: #353b48;
}

.search-bar__input {
    border: none;
    background-color: transparent;
    padding: 5px;
    width: 150px;
    border-bottom: 1px solid silver;
    outline: none;
    animation: animateInput 0.7s;
}

@keyframes animateInput {
  0% {width: 0px;}
  100% {width: 150px;}
}

.ListWindow .content {
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    height: 79%;
    position: relative;
    background-color: white;
}

#list-ui-null {
    font-size: 40px;
    position: absolute;
    color: #718093;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.ListWindow .music-list {
   color: #353b48;
   height: 20px;
   padding: 15px;
   background-color: white;
   border-bottom: 1px solid silver;
   position: relative;
   user-select: none;
}

.ListWindow .music-list-selected {
    background-color: #2f3640;
    border-bottom: 1px solid #2f3640;
    color: white;
}

.ListWindow .music-list:hover {
    background-color: #2f3640;
    cursor: pointer;
    color: white;
    border-bottom: 1px solid #2f3640;
}

#title-song {
    font-family: 'OpenSans-SemiBold';
    position: absolute;
    left: 38px;
    top: 8px;
    font-size: 13px;
    font-weight: 100;
}

#album-and-size {
    position: absolute;
    left: 38px;
    top: 24px;
    font-size: 12px;
    font-weight: 100;
}

#duration {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 13px;
}

.button-move-item {
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -18px;
    font-size: 25px;
}

.button-move-item i {
    color: #718093;
}

.ListWindow .music-list-selected #button-move-item i, .ListWindow .music-list:hover #button-move-item i {
    color: white;
}

.ListWindow .footer {
    background-color: #353b48;
    width: 100%;
    height: 10%;
    box-shadow: 0px 0px 2px black;
    z-index: 2;
}

.button-folder-open {
    position: absolute;
    bottom: 15px;
    left: 17px;
}

.button-list-clear {
    position: absolute;
    bottom: 15px;
    left: 50px;
}

.list-description {
    position: absolute;
    color: white;
    font-size: 14px;
    bottom: 20px;
    right: 17px;
}
