.Modal {
    width: 400px;
    height: 600px;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 20px;
    z-index: 9999;
}

.Modal__transparent-box {
    background-color: #353b48;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    animation: opacity 0.5s ease-in-out;
}

.Modal__modal-box {
    position: absolute;
    background-color: #353b48;
    width: 250px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -125px;
    box-shadow: 0.5px 0.5px 5px black;
}

.Modal__close-modal-button {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #c0392b;
}

.Modal__close-modal-button:hover{ 
    color: #e74c3c;
    cursor: pointer;
}

@keyframes opacity {
    0% {background-color: transparent; opacity: 0;}
    100% {background-color: #353b48; opacity: 0.5;}
}