.title-bar {
    position: absolute;
    top: 2px;
    right: 4px;
}

.title-bar__button {
    margin: 3px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100px;
    -webkit-app-region: no-drag;
    display: inline-block;
}

.title-bar__button:hover {
    cursor: pointer;
}

.title-bar__button--red {
    background-color: #e74c3c;
}

.title-bar__button--red:hover {
    background-color: #c0392b;
}

.title-bar__button--yellow {
    background-color: #f1c40f;
}

.title-bar__button--yellow:hover {
    background-color: #f39c12;
}