.Player {
    height: 100%;
    position: relative;
    text-align: center;
}

.Player #button-open {
    position: absolute;
    top: 25px;
    left: 50px;
}

.Player #button-open-list {
    position: absolute;
    top: 25px;
    left: 15px;
}

.Player #button-pause-play {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -20px;
    font-size: 25px;
    text-align: center;
    transition: all 0.2;
}

.Player #button-pause-play:active {
    top: 25px;
    margin-left: -18px;
    font-size: 20px;
}

#button-previous {
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -50px;
}

#button-next {
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: 14px;
}

#button-random, #button-random-colored {
    position: absolute;
    top: 25px;
    left: 42%;
    margin-left: -50px;
}

#button-random-colored i {
    color: rgb(255, 97, 97);
}

#button-loop, #button-loop-colored, #button-loop-all {
    position: absolute;
    top: 26px;
    left: 74%;
    margin-left: -50px;
    font-size: 18px;
}

#button-loop-all i, #button-loop-colored i {
    color: rgb(255, 97, 97);
}

.Player #duration {
    position: absolute;
    top: 26px;
    right: 15px;
    font-size: 14px;
    color: white;    
}

.Player #slider {
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-appearance: none;
    appearance: none;
    width: 370px;
    margin-left: -185px;
    height: 2px;
    border-radius: 10px;
    background: #f5f6fa;
    outline: none;
    
}

.Player #slider:hover {
    cursor: pointer;
}

.Player #slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: 2px solid #f5f6fa;
    cursor: pointer;
    background-color: #353b48;
}

#button-volume {
    position: absolute;
    top: 25px;
    left: 20%;
    margin-left: 0px;
}

.Player .volume-slider {
    position: absolute;
    top: -70px;
    left: 72px;
    width: 35px;
    height: 90px;
    background-color: #353b48;
    box-shadow: 0px 0.5px 4px black;
    -webkit-app-region: no-drag;
    text-align: center;
    z-index: 1000;
}

.Player .volume-slider span {
    font-size: 14px;
    color: white;
    position: relative;
    top: 45px;
}

.Player .volume-slider input {
    transform: rotate(-90deg);
    position: relative;
    top: 20px;
    right: 50%;
    margin-left: 5px;
    width: 60px;
    -webkit-appearance: none; 
    appearance: none;
    height: 3px;
    outline: none;
    -webkit-app-region: no-drag;
}

.Player .volume-slider input::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: 2px solid #f5f6fa;
    cursor: pointer;
    background-color: #353b48;
}