.music-list {
color: #353b48;
height: 20px;
padding: 15px;
background-color: white;
border-bottom: 1px solid silver;
position: relative;
}

.music-list--selected {
    background-color: var(--icon-hover-color);
    border-bottom: 1px solid var(--icon-hover-color);
    color: var(--text-color);
}

.music-list:hover {
    background-color: var(--icon-hover-color);
    cursor: pointer;
    color: var(--text-color);
    border-bottom: 1px solid var(--icon-hover-color);
}

.music-list__title-song {
    font-family: 'OpenSans-SemiBold';
    position: absolute;
    left: 38px;
    top: 8px;
    font-size: 13px;
    font-weight: 100;
}

.music-list__album-and-size {
    position: absolute;
    left: 38px;
    top: 24px;
    font-size: 12px;
    font-weight: 100;
}

.music-list__duration {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 13px;
}

.music-list__button-move-item {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -18px;
    font-size: 25px;
}

.music-list__button-move-item i {
    color: #718093;
}

.music-list--selected .music-list__button-move-item i, .music-list:hover .music-list__button-move-item i {
    color: white;
}

.music-list--selected .music-list__button-move-item i:hover, .music-list:hover .music-list__button-move-item i:hover {
    color: #718093;
}

.modal-item-description {
    position: fixed !important;
}

.modal-description {
    position: absolute;
    top: 20px;
    padding: 0x;
    width: 250px !important;
    overflow-x: auto;
    height: 99%;
    white-space: pre;
    font-weight: 200;
    user-select: auto;
}

.modal-description span {
    position: relative;
    top: 5px;
    left: 20px;
    font-size: 14px;
}

.modal-description__item--delete-button {
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -10px;
}

